# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
syncapod

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# just incase if vim is open while committing
*.swp

*.env
config.json

# tags for vim
tags
